html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #181818;
}
.navbar-wrapper {
  background-color: #202020;
}
.navbar-items-container {
  justify-content: flex-end;
  width: 100%;
}
.navbar-logo {
  height: 50px;
  width: 150px;
}
@media (max-width: 640px) {
  .navbar-logo {
    height: 50px;
    width: 100px;
  }
}
.brand {
  font-size: 2rem;
}
.navbar-link-logo-img {
  height: 32px;
  width: 32px;
}
.code-symbol {
  font-weight: bold;
  color: #24adf2;
  font-size: 1.7rem;
}
aside {
  background-color: #202020;
  border-radius: 8px;
}
@media (min-width: 640px) {
  aside {
    max-height: 80vh;
    overflow-y: auto;
  }
}
.project {
    position: relative;
  border-radius: 8px;
  background-color: #181818;
}
.project-img {
    height: 3rem;
    width: 100%;
}
.context-menu-toggle {

    position: absolute;
    top: 0;
    right: 0;
}
.context-menu-toggle-img {
    height: 8px;
    width: 20px;
}
