/* Darker color: #181818 */
/* Less Dark color: #202020 */
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #181818;
}


/* Common */
.border-radius {
  border-radius: 8px;
}
.less-dark-background-color {
  background-color: #202020;
}
.darker-background-color {
  background-color: #181818;
}
.accent-color {
  color: #24adf2;
}
.w-90 {
  width: 90%;
}
.center-block {
  margin: 0 auto;
}
/* End Common */

/* Navbar */
.brand {
  font-size: 2rem;
}
.code-symbol {
  font-weight: bold;
  font-size: 1.7rem;
}
.navbar-items-container {
  justify-content: flex-end;
  width: 100%;
}
.navbar-link-logo-img {
  height: 2rem;
  width: 2rem;
}
.translucent {
  /* background-color: rgb(255, 255, 255, 0.5); */
  background-color: rgba(0, 0, 0, 0.2);
}
/* End Navbar */

/* Main */
@media (min-width: 640px) {
  aside, main {
    max-height: 80vh;
    overflow-y: auto;
  }
}
main {
  position: relative;
}
@media (max-width: 640px) {
  main {
    height: 60vh;
  }
}
@media (max-width: 640px) {
  aside {
    width: 90% !important;
    margin: 2rem auto !important;
  }
}

/* Project */
.project {
  position: relative;
}
.project-img {
  height: 3rem;
  width: 100%;
}
.context-menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
.context-menu-toggle-img {
  height: 0.4rem;
  width: 1.2rem;
}
/* End Project */

/* Main Content */
.main-container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}
#main-bgvid {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-content {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.name,
.title {
  font-family: "Roboto Mono", monospace;
}
.name {
  font-size: 3rem;
}
.title {
  font-size: 1.3rem;
}
@media (max-width: 640px) {
  .name {
    font-size: 2.2rem;
  }
}
.tiles-container {
  height: 85% !important;
}
@media (max-width: 640px) {
  .tiles-container {
    height: 75% !important;
  }
}
.about-me {
  overflow-y: auto;
}
.roles-container {
  display: flex;
}
@media (min-width: 640px) {
  .roles-container {
    justify-content: flex-end;
  }
}
@media (max-width: 640px) {
  .roles-container {
    justify-content: center;
    margin: 0.8rem 0;
    padding: 0;
    height: 25% !important;
  }
}
@media (max-width: 640px) {
  .about-me {
    max-height: 78% !important;
  }
}
@media (min-width: 640px) {
  .role-container {
    height: 32%;
    max-height: 32%;
    margin-bottom: 1rem;
  }
}
.role {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
/* End Main Content */


/* End Main */
